body{
    background-color: LightGreen;
}

.main_block {
    border: 3px solid black;
    border-radius: 3vh;
    background-color: green;
    display: grid;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 20px;
    padding: 10px 10px 15px 10px;
    padding-left, padding-right: 5px, 5px;
    overflow: visible;
    max-width: 50vw;
    position: relative;
    padding-top, padding-bottom: 10px, 10px;
}

.date_and_dir {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1vw;
}

.username, .date_birth, .direction {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 2vh;
    padding-left: 8px;
    padding-right: 5px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
}

.date_birth,
.direction {
    flex: 1;
    min-width: 0;
}

.exp {
    border: 3px solid black;
    border-radius: 3vh;
    background-color: green;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vh;
    padding: 5px
}

.exp > h1, .type_help > h1 {
    color: white;
    text-align: center;
    margin-bottom: 1vh;
}

.experience-item {
    display: block;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2vh;
}

.experience-item:hover {
    color: gray;
}

.type_help {
    border: 3px solid black;
    border-radius: 3vh;
    background-color: green;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vh;
    padding: 8px;
    color: white;
}

.type_help-option {
    display: block;
    color: white;
    font-size: 1.2em;
    margin-bottom: 8px;
    cursor: pointer;
}

.type_help-option:hover {
    color: gray;
}

.type_help > h1 {
    margin-bottom: 4vh;
}

.butt_submit {
    border: 3px solid black;
    border-radius: 3vh;
    background-color: green;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vh;
    padding: 8px;
    color: white;
    width: 50vw;
    height: 6vh;
    font-size: 3vh;
}

.butt_submit:hover {
    background-color: DarkGreen;
}